<% layout('/layouts/bollerplate') -%>

    <div class="page-container">
    <div class="row">
        <div class="col-8 offset-2" >
            <br>
    <h3>Edit your Listing here!</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
             <div class="valid-feedback">
               Title Looks good!
            </div>
            <div class="invalid-feedback">
                    Please choose a correct title that gives better look!.
                </div>
        </div>

         <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %>" </textarea>
            <div class="invalid-feedback">
                    Please enter a description of your property!.
                </div>
        </div>

        <div class="mb-3">
             Original Listing Image <br/>
            <img src="<%= originalImageUrl %>" alt="image">
        </div>

        <div class="mb-3">
             <label for="image" class="form-label">Upload New Image :</label>
            <input type="file" name="listing[image]"  class="form-control">
            <div class="invalid-feedback">
                    Please upload a valid type of image
                </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price :</label>
                <input type="number" name="listing[price]" value="<%= listing.price%>" class="form-control" required>
                 <div class="invalid-feedback">
                    Please choose a correct price.
                </div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country:</label>
                <input type="text" name="listing[country]" value="<%= listing.country%>" class="form-control" required>
                <div class="invalid-feedback">
                    Please choose a correct country name!
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input type="text" name="listing[location]" value="<%= listing.location%>" class="form-control" required>
            <div class="invalid-feedback">
                    Please choose a correct location.
                </div>
        </div>

        <button type="submit" class="btn btn-dark edit-btn">Edit</button> <br><br>
    </form>
    </div>
    </div>
    </div>
