<% layout('/layouts/bollerplate') -%>
<style>

#filters{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    margin-left: 7px;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.filter p{
    font-size: 0.9rem;
}

.tax-info{
    display: none;
}

.tax-toogle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-left: 2.7rem;
}

</style>



<!-- <%= success %> -->
<!-- <div class="page-container"> -->
    <!-- <h1 style="margin-top: 5px;">All Listings</h1> --
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>

        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </div>

        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>

        <div class="filter">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountain</p>
        </div>

        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>

        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </div>

        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>

        <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farm</p>
        </div>

        <div class="tax-toogle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label"for="switchCheckDefault">Display total after taxes  </label>
            </div>
        </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
        <% for(let listing of allListings ){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card"> 
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                <b> <%= listing.title %> <br></b>
                <p class="price">
                    <b>&#8377;</b> <%= listing.price.toLocaleString("en-IN") %>/ night&nbsp;&nbsp;+18% GST
                </p>
                <!-- <i class="tax-info">&nbsp; &nbsp;+18% GST</i> -->
                <p class="tax-info">
                    <!-- Price: ₹<%= listing.price.toLocaleString("en-IN") %><br> -->
                    <!-- GST (18%): ₹<%= (listing.price*0.18).toLocaleString("en-IN") %><br>
                    Total: ₹<%= (listing.price*1.18).toLocaleString("en-IN") %> -->
                   <b>&#8377;</b> <%= (listing.price * 1.18).toLocaleString("en-IN") %> 
                </p>

                </p>
            </div>
            </div>
            </a>
        
        <% } %>
  </div>
</div>

<script>
    // let taxSwitch=document.getElementById("switchCheckDefault");
    // taxSwitch.addEventListener("click",()=>{
    //     let taxInfo=document.getElementsByClassName("tax-info");
    //     let originalPrice=document.getElementsByClassName("price");
    //     for(let info of taxInfo ){
    //         if(info.style.display!="inline"){
    //             info.style.display="inline";
    //         }else{
    //             info.style.display="none";
    //         }
       
    //     }
    // })
    let taxSwitch = document.getElementById("switchCheckDefault");

        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            let originalPrice = document.getElementsByClassName("price");

            for (let i = 0; i < taxInfo.length; i++) {
                if (taxInfo[i].style.display !== "inline") {
                    taxInfo[i].style.display = "inline";
                    originalPrice[i].style.display = "none";
                } else {
                    taxInfo[i].style.display = "none";
                    originalPrice[i].style.display = "inline";
                }
            }
        });

</script>
